@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: aliceblue;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    text-align: center;
    font-family: 'Borel', cursive;
    font-size: 40px;
}

.inputField{
    width: 60%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
}

.inputField:focus{
    outline: none;
}

.submitBtn{
    margin-top: 15px;
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 30px;
    background: #48abe0;
    color: bisque;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;
}

.submitBtn:hover{
    background-color: #65b9e6;
}

.submitBtn:active{
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}